<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head', { name: name}) %>
</head>
<body>

  <%- include('./includes/navbar') %>
  <%- include('./includes/sidebar') %>



<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

    <div style="margin-top: 50px">
        <h1><%=  title %></h1>
        <p><%=  description %></p>
        <% if (img_url == '') { %>
            <img src="/assets/notfound.png" style="width: 300px" />
        <% } else { %>
            <img src="<%= img_url %>" style="width: 300px" />
        <% } %>
    </div>
  <%- include('./includes/footer') %>
<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
