<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head', { name: 'USUARIOS'}) %>
</head>
<body>

  <%- include('./includes/navbar') %>
  <%- include('./includes/sidebar') %>



<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px; margin-top: 50px;">

  <h1>USUARIOS</h1>
  
  <ul>
  <% for (let i = 0; i < users.length; i++) { %>
    <li><%= users[i].name %> - <%= users[i].role %></li>
  <%  } %>
  </ul>
  <hr>

  <form action="/users" method="post">

    <label for="name">Nome</label>
    <input type="text" name="name">
    <br><br>
    <label for="email">Email</label>
    <input type="text" name="email">
    <br><br>
    <label for="password">Senha</label>
    <input type="text" name="password">
    <br><br>
    <input type="submit" value="CADASTRAR">
  </form>


  <%- include('./includes/footer') %>

 
<!-- END MAIN -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
